<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <%- include('partials/head') %>
</head>
<body data-bs-theme="dark">

    <%- include('partials/navigation') %>

    <main class="vh-100 container pt-2 text-center d-flex justify-content-center align-items-center">
        <section>
            <h1 class="display-1">ABOUT</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam quibusdam facere numquam id voluptatum cumque doloremque laudantium natus, perspiciatis tempora, consectetur deserunt provident officiis, dicta aut illo quasi! Recusandae quidem at temporibus! Quisquam facilis consequatur maiores officia odit alias at sunt maxime non quam, ratione tenetur, natus beatae animi modi ab mollitia? Aliquam omnis quibusdam natus repudiandae inventore, est sit dolore cupiditate odit laudantium deleniti recusandae excepturi nesciunt obcaecati atque tempore quae eum aut harum doloribus corporis veritatis sequi veniam. Placeat autem nihil quas repellendus, quaerat asperiores exercitationem neque ex blanditiis ratione eum, veniam molestiae nobis fuga deleniti a atque laudantium voluptatem laborum debitis adipisci necessitatibus. Aliquam impedit quia delectus sint necessitatibus quae nulla? Esse consequatur quas laudantium eius dolores commodi minus veniam aut ipsam. Reiciendis officia iure, numquam in enim placeat quia quidem itaque et saepe odit eos magni temporibus voluptate aliquam, velit iusto omnis? Soluta sapiente, libero hic nemo unde ducimus a, debitis vel nisi ab deserunt. Aperiam explicabo eum, tempora ut necessitatibus esse. Eaque architecto, maiores dignissimos culpa minus nisi esse id earum placeat! Repellendus ad tempora maxime sit nesciunt culpa tenetur a quibusdam voluptatibus ipsam pariatur, porro inventore ut iusto perferendis quod quasi sapiente nostrum expedita sunt voluptatum? Doloribus fugit nulla velit earum inventore asperiores porro illo quos provident. Architecto, itaque illo! Molestiae maiores asperiores quibusdam dicta amet delectus nisi praesentium sed in eum libero iure aut, ducimus quasi laudantium culpa labore voluptates quidem ab. Illo quis sit, harum porro quaerat eius necessitatibus earum autem architecto aliquid, culpa asperiores est officia pariatur? Commodi, veniam accusantium. Animi dolor suscipit quibusdam a? Neque, maxime! Quam ex excepturi temporibus voluptatem nobis aspernatur, molestias rem expedita ullam dignissimos. Assumenda qui tempora nemo error libero debitis impedit dolorem, inventore dolore praesentium fugit numquam odio voluptate obcaecati saepe maxime dolorum sequi suscipit!</p>
        </section>
    </main>

    <%- include('partials/footer') %>

</body>
</html>